*.o
*.la
*.lo
*.Plo
*.pc
*/.deps/
*/.libs/
autom4te.cache/
Makefile
Makefile.in
INSTALL
aclocal.m4
ar-lib
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
examples/authenticate_card
examples/make_card
examples/own_card
examples/run_bootstrap
